<div class="btn-group-vertical btn-group-vertical-spaced">
  <%= link_to "Patient Signup", patients_signup_url, class: "btn btn-primary bluish" %>
  <%= link_to "Patient Login", patients_login_url, class: "btn btn-primary bluish" %>
  <%= link_to "Client Signup", clients_signup_url, class: "btn btn-primary dark-green" %>
  <%= link_to "Client Login", clients_login_url, class: "btn btn-primary dark-green" %>
</div>