<div class="btn-group-vertical btn-group-vertical-spaced">
  <a class="btn btn-primary bluish" href="/patient/signup">Patient signup</a>
  <a class="btn btn-primary bluish" href="/patient/login">Patient login</a>
  <a class="btn btn-success dark-green" href="/client/signup">Client signup</a>
  <a class="btn btn-success dark-green" href="/client/login">Client login</a>
</div>