<div class="w-10/12 md:flex md:items-center mb-10">
	<div class="mb-1 md:mb-0 pl-1 md:p-0 md:w-2/6">
		<label for="selectCity" class="inline-block text-xl">Select City</label>
	</div>
	<div class="md:w-4/6">
		<%= select_tag 'location_id', options_for_select(@locations.collect{ |u| [u.city, u.id] }), id: "selectCity", class: "select-field", include_blank: 'Select city' %>
	</div>
</div>

<div id="services-container"></div>
