let container = $("#services-container");
container.innerHTML = "";

$append(container, '<label for="services" class="block mb-4 text-xl">Services</label>')

let ul = $('<div class="list-group"></div>')

<% @services.each do |svc| %>
	$append(ul,
		`<div class="mb-4 md:inline-block md:mr-4">
			<img class="inline-block h-16 w-16 object-cover rounded-full border-2 border-gray-300" src="/assets/<%= svc.asset_url %>"/>
            <a class="pl-3 text-lg" href="<%= user_booking_url(current_user, svc.id, {locations: [@locationservice.location_id] }) %>"><%= svc.description %></a>
		</div>`)
<% end %>

$append(container, ul)
