<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-5">
  <% @doctors.each do |doctor| %>
    <div class="p-6 max-w-md bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
      <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
        <h3 class="pb-6"><%= doctor.salutation %>, <%= doctor.name %></h3>

        <%= link_to "Book now", booking_appointments_url(booking_id: encrypt_params(booking_id: @booking_id, doctor_id: doctor.id, location_id: @location_ids)), class:'bookdoctor inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>

        <!-- Specialities -->
        <div class="font-medium grid grid-cols-none divide-x pt-6">
          <% doctor.specialities.each do |speciality| %>
            <div class="text-sky-500 dark:text-sky-400">
              <%= speciality.name %>
            </div>
          <% end %>
        </div>

      </figure>
    </div>
  <% end %>
</div>

<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="modal"></div>
