.login-form .form-group {
    margin-bottom: 0.3125em;
}


.icon {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px !important;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    background-size: cover;
    background-position: center center;
}