/*
 * Globals
 */
 
html,
body {
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.navbar-brand {
  padding-left: 0.3125em;
}

.dark-green {
  background-color: rgb(12, 137, 137) !important;
 }
 .bluish {
  background-color: rgb(68, 81, 152) !important;
 }
 .teal {
    background-color: #0098b1;
 }
